@import './styles/base';

.App {
  text-align: center;
}

.App__container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

@media screen and (max-width: 1176px) {
  .App__container {
    width: 100%;
  }
}
